<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Counter</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-+0n0xVW2eSR5OomGNYDnhzAbDsOXxcvSN1TPprVMTNDbiYZCxYbOOl7+AMvyTG2x" crossorigin="anonymous">
</head>
<body>
    <div style="display: flex; flex-direction:column; align-content: center; justify-content:center; margin-top: 200px; width: 500px; " class="container">
        <h1 style="text-align: center;">Counter</h1>
        <h3 style= "text-align: center;">{{session['x']}} times</h3>
        <a href="/post" class="btn btn-danger">Add two visits!</a>
        <a href="/clear_session" class="btn btn-success">Reset</a>
    </div>
</body>
</html>